/**changing box-sizing to border-box***/
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: sans-serif;
  font-size: 16px;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
}

.container {
  margin: 10px auto;
  padding:3%;
  border: 1%;
  width: 35%;
}


nav {
  margin: 0 auto;
  padding: 18.5px;
  position: fixed;
  width: 23.25%;
  top: 0;
  float: left;
  background-color: black;
}



.location {
  border: 3px black;
  width: 100%;
  padding: 3%;
  margin: 10px 1;
  border-bottom: 1px solid gray;
}

.restaurant-list :hover {
  background-color: gray;
}

.restaurant-list {
  background-color: #aaa;
  border: 3px solid gray;
  float: left;
  margin: 0 10px 10px 0;
  width: 80%;
  padding: 0px 20px 20px 0px;
}

h1{
  font-size: 150%;
  font-weight: bold;
}

h3 {
  font-size: 110%;
  line-height: 90%;
}

div {
  margin: 0px 1% 0 1%;
  display: inline-block;
}

.arrow {
  float: right;
}
